<div id="article_4" class="entry">
  <div class="body">
    <% copy :details do %>
      <h2>Contact us:</h2>
      <br/>
      <strong>Email:</strong> george@capemarquees.co.uk
      <br/>
      <strong>Telephone:</strong> 07763 865919
    <% end %>
  </div>
</div>