<div id="article_14" class="entry">
	<div class="body">
    <h2>Gallery</h2>
    <p class="thumbs">
      <a class="zoom1" title="" href="/images/cape2.jpg"><img src="/images/cape2_small.jpg" width="100" height="100"  /></a>
      <a class="zoom1" title="" href="/images/cape3.jpg"><img src="/images/cape3_small.jpg" width="100" height="100"/></a>
      <a class="zoom1" title="" href="/images/cape5.jpg"><img src="/images/cape5_small.jpg" width="100" height="100"/></a>
      <a class="zoom1" title="" href="/images/cape6.jpg"><img src="/images/cape6_small.jpg" width="100" height="100" /></a>
      <a class="zoom1" title="" href="/images/cape7.jpg"><img src="/images/cape7_small.jpg" width="100" height="100" /></a>	
      <a class="zoom1" title="" href="/images/cape8.jpg"><img src="/images/cape8_small.jpg" width="100" height="100" /></a>		
    </p>
	</div>
</div>