<div id="article_1" class="entry">
  <div class="body">
    <p class="thumbs" align="center">
      <img src="images/cape2.jpg" width="450" align="center"/>
    </p>
    <% copy :quote do %>
      <blockquote>
        <p>"Thanks for providing us with your Marquee for my Dad's 70th birthday.  A fantastic time was had by all and I lost count of the number of comments we had on how beautiful the marquee looked and how unusual a shape the structure was, not like a bog standard marquee, so a big thumbs up from us all!<br/>
        The marquee was erected in plenty of time for us to put the finishing touches prior to the party and was dismantled in super quick time after. Well done to you and the team in delivering a superb party venue which I wholeheartedly recommend"
        </p>
        <p class="align-right"> - Jane, Gerrards Cross</p>
      </blockquote>
    <% end %>
  </div>
</div>