<div id="article_3" class="entry">
	<div class="body">
    <h2>Price List</h2>
    <% copy :price_list do %>
      <h3>Marquees</h3>						
      <table>
  	    <tr>
  		    <th>description</th>
          <th>price</th>
  	    </tr>
  	    <tr>
  	    </tr>
  	    <tr>
  		    <td>28 x 28 Capri Marquee (40 people seated, 50 people standing)</td>
  		    <td>£295.00</td>
  	    </tr>
      </table>
      <br/>
    
      <h3>Carpet</h3>						
      <table>
  	    <tr>
  		    <th>description</th>
          <th>price</th>
  	    </tr>
  	    <tr>
  	    </tr>
  	    <tr>
  		    <td>28 x 28  carpet and ground sheet</td>
  		    <td>£100.00</td>
  	    </tr>
      </table>
      <br/>

      <h3>Dance Floor</h3>						
      <table>
  	    <tr>
  		    <th>description</th>
          <th>price</th>
  	    </tr>
  	    <tr>
  		    <td>Each 3 ft square</td>
  		    <td>£6.00</td>
  	    </tr>
      </table>
      <br/>

      <h3>Tables and Chairs</h3>						
      <table>
  	    <tr>
  		    <th>description</th>
          <th>price</th>
  	    </tr>
  	    <tr>
        </tr>
        <tr>
  		    <td>5 ft Round table</td>
  		    <td>£6.00 each</td>
  	    </tr>
  	    <tr>
  	    </tr>
        <tr>
  		    <td>Garden party chairs (Bistro Style)</td>
  		    <td>£1.50 each</td>
  		  </tr>
      </table>
      <br/>

      <h3>Accessories</h3>						
      <table>
  	    <tr>
  		    <th>description</th>
          <th>price</th>
  	    </tr>
  	    <tr>
  		    <td>Table Cloths</td>
  		    <td>£3.00 each</td>
  	    </tr>
  	    <tr>
  		    <td>Ivy Garland</td>
  		    <td>£35.00 each</td>
  	    </tr>
  	    <tr>
  		    <td>Up-Lighting</td>
  		    <td>£40.00</td>
  	    </tr>
  	    <tr>
  		    <td>Pea Lighting</td>
  		    <td>£35.00</td>
  	    </tr>
      </table>
    <% end %>
	</div>
</div>