<div id="article_15" class="entry">
  <div class="body">
    <blockquote>
      <p>"Dear George, Thanks so much for a very professional service. You arrived precisely on time and the marquee itself was just lovely. We will certainly be calling you next time we have a big party. All the best"
      </p>
      <p class="align-right"> -  Heidi</p>
    </blockquote>

    <blockquote>
      <p>"thanks for providing us with your Marquee for my Dad's 70th birthday.  A fantastic time was had by all and I lost count of the number of comments we had on how beautiful the marquee looked and how unusual a shape the structure was, not like a bog standard marquee, so a big thumbs up from us all!"
      </p>
      <p class="align-right"></p>
    </blockquote>

    <blockquote>
      <p>"The marquee was erected in plenty of time for us to put the finishing touches prior to the party and was dismantled in super quick time after. Well done to you and the team in delivering a superb party venue which I wholeheartedly recommend"
      </p>
      <p class="align-right"> - Jane, Gerrards Cross</p>
    </blockquote>
	</div>
</div>